{% extends "base.html" %}

{% block content %}
<h2>Contactos</h2>
<hr>
<a class="btn btn-primary" href="{{ url_for('add') }}">Nuevo</a>
<button id="btnEdit" class="btn btn btn-outline-secondary" disabled href="{{ url_for('add') }}">Editar</button>
<button id="btnRemove" class="btn btn-outline-danger" disabled href="{{ url_for('add') }}">Eliminar</button>
<hr>
<table class="table table-sm table-hover">
    <thead>
        <tr >
            <th style="display: none;" scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Dirección</th>
            <th scope="col">Localidad</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contacts %}
        <tr class="clickable-row">
            <td style="display: none;" class="id_contact">
                {{c.id}}
            </td>
            <td>{{c.name}}</td>
            <td>{{c.lastName}}</td>
            <td>{{c.address}}</td>
            <td>{{c.city}}</td>
            <td>{{c.phone}}</td>
            <td>{{c.email}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extrascripts %}
<script>
$('table').on('click', '.clickable-row', function(event) {
  if($(this).hasClass('table-primary')){
    $(this).removeClass('table-primary')
    $('#btnEdit').attr("disabled", "true")
    $('#btnRemove').attr('disabled', "true")
  }else{
    $(this).addClass('table-primary').siblings().removeClass('table-primary');
    $('#btnEdit').removeAttr('disabled')
    $('#btnRemove').removeAttr('disabled')
  }
});

function get_selected_id(){
    return parseInt($('tr.clickable-row.table-primary').find('.id_contact').text())
}

$('#btnEdit').on('click', function(){
    window.location = "edit/"+get_selected_id()
});
</script>

{% endblock %}